<p>Check the display component's html file</p>
<!-- 
    // TODO: Format the li elements to correctly display the data
    // TODO: make sure the information being passed to delete function is formatted correctly
 -->

    <!-- 
        CODE FOR INTERACTING WITH DATABASE 
    -->

    <h1> Data </h1>
    <ul *ngIf="dataToDisplay">
        <li *ngFor="let data of dataToDisplay">
            {{data}}
            <p (click)="deleteData(data.id)"> Delete </p>
        </li>
    </ul>
    <input #newDataInput placeholder="enter new data here" />
    <button type="submit" (click)="createData(newDataInput.value)">Create</button>



    <!-- 
        CODE FOR CHAT BOX 
    -->

    <div class="chat">
        <h1>CHAT</h1>
        <div *ngIf="messages.length">
            <h2>Messages</h2>
            <p *ngFor="let message of messages">
                {{message}}
            </p>
        </div>
    </div>
    <input [(ngModel)]="message"  (keyup)="$event.keyCode == 13 && sendMessage()" placeholder="Enter New Message"/>
    <button (click)="sendMessage()">Send</button>

